# ASP.NET Core MVC
bin/
obj/
*.user
*.vspscc
*.vssscc
.vs/
.vscode/
artifacts/
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log
[Dd]ebug/
[Rr]elease/
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
Properties/PublishProfiles/
Properties/ServiceDependencies/
wwwroot/react-app/

# React / Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnp
.pnp.js
coverage/
build/
dist/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# IDE files
*.swp
*.swo
.idea/
*.sublime-workspace

# Others
logs/
temp/
tmp/
*.tmp
*.bak
